# Puerto del servidor
PORT=5000

# URI de conexión a MongoDB (reemplaza <user>, <password> y <cluster> con tus datos locales si lo necesitas)
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?appName=Cluster0